{% extends 'layout.html' %}
{% block content %}
<head>
	<title>Me-User</title>
</head>
<body>
<div class='container myContent'>
	<div class='row'>
	{% if get_flashed_messages() %}
	<div class="alert alert-warning alert-dismissible" role="alert">
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  		<strong>{{get_flashed_messages()[0]}}</strong>
	</div>
	{% endif %}
	

	{% if current_user.is_authenticated() %}
	<div class='panel panel-primary myPanel'>
		<div class='panel-heading'>
			<h4 class='text-center'>个人设置</h4>
		</div>
	<div class='panel-body'>
		<div class='avatar'>
			<img src='/upload/{{ useravatar.avatar }}' class='img-responsive img-circle center-block userShow' alt='avatar' >
		</div>
	<div class='userSet1'>
		<div class='userSetUper'>
		<i class="fa icon-magnet" data-toggle="collapse" data-target="#collapseAvatar" aria-expanded="false" aria-controls="collapseExample">
			<span  data-toggle="modal" data-target=".bs-example-modal-sm" id='showSpan'>修改头像</span>
		</i>
		<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
				<div class='modal-header'>	
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span><h4>请上传你的头像</h4></span>
				</div>
				<div class='modal-body'>
					<form method='post' enctype='multipart/form-data' action='/accounts/settings'>
						<input type='file' name='file' id='avatar_set'>
						<br>
						<div class='signButton'>
						<button type='submit' class='btn btn-primary'>确认修改</button>
						</div>
					</form>
				</div>
    			</div>
  			</div>
		</div>
		</div>

		<div class='userPassSet'>
			<i class="fa icon-lock">
				<span  data-toggle="modal" data-target=".bs-example-modal-sm2" id='showSpan'>修改密码</span>
			</i>
			<div class="modal fade bs-example-modal-sm2" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
				<div class='modal-header'>	
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span><h4>请修改密码</h4></span>
				</div>
				<div class='modal-body' id='passSet'>
					<form method='post' action=''>
						{{form_pass.csrf_token}}
						<div class='form-group'>
							<label for='inputLastPass'>旧密码</label><br>
								{{ form_pass.lastpass(type='password', class_='form-control', id='inputLastPass') }}
						</div><br>
						<div class='form-group'>
							<label for='inputNewPass'>新密码</label><br>
								{{ form_pass.newpass(type='password', class_='form-control', id='inputNewPass') }}
						</div><br>
						<div class='form-group'>
							<label for='inputConfirPass'>确认密码</label><br>
								{{ form_pass.confirpass(type='password', class_='form-control', id='inputConfirPass') }}
						</div><br>						
						<div class='signButton'>
						<button type='submit' class='btn btn-primary'>确认修改</button>
						</div>
				</form>

				</div>
    			</div>
  			</div>
		</div>
		</div>

		{% if user_content %}
		<div class='userPassSet'>
			<i class="fa icon-user">
				<span   data-toggle="modal" data-target=".bs-example-modal-sm1" id='showSpan'>修改介绍</span>
			</i>
		</div>
		{% endif %}
	</div>

		<div class='userSet'>
		<p class='titleSet'>
		{% if not user_content %}
			说说你自己
		{% else %}
			你的介绍
		{% endif %}
		</p>
		<form method='POST' type='text'>
		{{ form.csrf_token }}

		{% if user_content %}
		<div>
			<p class='userBody'>{{ user_content.body }}</p> <br>
		</div>

		<div class="modal fade bs-example-modal-sm1" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
				<div class='modal-header'>	
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<span><h4>修改介绍</h4></span>
				</div>
				<div class='modal-body'>
					<div class='form-group'>
						<label for='nickname'>你的大名</label>
						{% if user.nickname %}
						{{form.nickname(type='text', class_='form-control', id='nickname', value=user.nickname)}}
						{% else %}
						{{form.nickname(type='text', class_='form-control', id='nickname', placeholder='写出你的大名or小名～，让我们认识你')}}
						{% endif %}
					</div>
					<div class='form-group'>
						<label for='content-box'>告诉我们关于你</label>
						<textarea type='text' rows='3' name='contentbox' class='form-control' id='content-box' placeholder='告诉我们关于你'>{{user_content.body}}</textarea>
					</div>
						<div class='signButton'>
						<button type='submit' class='btn btn-primary'>确认修改</button>
						</div>
					
				</div>
    			</div>
  			</div>
		</div>


		{% else %}
		<div class='form-group'>
			<label for='nickname'>你的大名</label>
			{% if not user.nickname %}
			{{form.nickname(type='text', class_='form-control', id='nickname', placeholder='记得写你的名字啊～就像考试那样')}}
			{% else %}
			{{form.nickname(type='text', class_='form-control', id='nickname', value=user.nickname)}}
			{% endif %}
		</div>		
		<div class='form-group'>
				<label for='content-box'>告诉我们关于你</label>
				<textarea type='text' rows='3' name='contentbox' class='form-control' id='content-box' placeholder='在这里介绍你自己'></textarea>
		</div>
		{% endif %}
		{% if not user_content %}
		<div class='signButton'>
			<button type='submit' class='btn btn-primary'>
				提交
			</button>
		</div>
		{% endif %}
		</form>
		<hr class='hrSetting'>
		<p class='titleSet'>社交链接</p>
		<form method='POST' class='form-inline'>
		{{form_media.csrf_token}}
		<div class='form-group formMedia'>
			<label for='content-weibo' class='labelMedia'><i class='fa icon-weibo'></i></label>
			<span class='inner-right'>http://weibo.com/{{ form_media.weibo(type='text', class_='form-control_media', id='content-weibo', value=user_media.weibo) }}</span>
		</div>
		<br><br>
		<div class='form-group formMedia'>
			<label for='content-twitter' class='labelMedia'><i class='fa icon-twitter'></i></label>
			http://www.twitter.com/{{ form_media.twitter(type='text', class_='form-control_media', id='content-twitter', value=user_media.twitter) }}
		</div>
		<br><br>
		<div class='form-group formMedia'>
			<label for='content-zhihu' class='labelMedia'><i class="icon iconfont zhihu">&#xe6d1;</i></label>
			<span class='inner-right'>http://www.zhihu.com/people/{{ form_media.zhihu(type='text', class_='form-control_media', id='content-zhihu', value=user_media.zhihu) }}</span>
		</div>
		<br><br>
		<div class='form-group formMedia'>
			<label for='content-douban' class='labelMedia'><i class='icon iconfont douban'>&#xe633;</i></label>
			http://www.douban.com/people/{{ form_media.douban(type='text', class_='form-control_media', id='content-douban', value=user_media.douban) }}
		</div>
		<br><br>
		<div class='form-group formMedia'>
			<label for='content-weixin' class='labelMedia'><i class='icon iconfont weixin'>&#xe628;</i></label>
			{{ form_media.weixin(type='text', class_='form-control_media', id='content-weixin', value=user_media.weixin, placeholder='输入微信号') }}
		</div>
		<br><br>
		<div class='signButton'>
			<button type='submit' class='btn btn-primary'>
				{% if user_content %}
				确认修改
				{% else %}
				提交
				{% endif %}
			</button>
		</div>
	</form>
	
	</div>
	</div>
	</div>
	</div>
</div>
	<br>
	{% endif %}

</body>
{% endblock %}