<!doctype html>
	{% macro test(var) %}

	<div class='row'>
	<div class='panel panel-primary myPanel'>
		<div class='panel-heading'>
			<h4 class='text-center'>{{ var.date_string }}</h4>
		</div>
		<div class='panel-body indexPanel'>

			{% if var.pieces.first() != None%}
			{% for i in var.pieces %}
			<div class='indexContent'>
			<div class='indexName'>
				<a href='/user/{{i.user.id}}' id='indexUrl'><img src='/upload/{{ i.user.avatar }}' class='img-responsive img-circle userIndexShow' alt='avatar' ></a>
				<a href='/user/{{i.user.id}}'  id='indexUrl'>
				<p class='userIndexName'>
					{% if i.user.nickname %}
						{{i.user.nickname}}
					{% else %}
						{{ i.user_name }}
					{% endif %}
					</p>
				</a>
				<span class="indexVote" id='{{ i.id }}'>
					<i class='fa icon-thumbs-up voteStyle'>
					    <p id='vote{{i.id}}' class='voteStyle'>{{ i.vote_count }}</p>
					</i>

				</span>
				
			</div>
				<div class='indexSelf'>{{ i.body }}</div>
			</div>
			<script type="text/javascript">
					$(document).ready(function(){
  						$("#{{i.id}}").click(function(){
    							$.post("/recommend/{{i.id}}",
    								{
   									   'vote': 1
    									},
    							function(result){
     				 			document.getElementById('vote{{i.id}}').innerHTML=result.count;
     				 			if (result.result == 1){
     				 				document.getElementById('{{i.id}}').style.color = 'red'
     				 			}
     				 			else{
     				 				document.getElementById('{{i.id}}').style.color = 'black'
     				 			}
    							},'json');
 			 			});
					});
				</script>
			{% endfor %}

			{% else %}
			<div class='text-center'>None</div>
			{% endif %}
		</div>
	</div>
</div>
	{% endmacro %}