{% extends 'layout.html' %}
{% block content %}
<head>
	<title>Me-User</title>
</head>

<div class='container myContent'>
	<div class='row'>
		<div class='panel panel-primary myPanel'>
	{% if user_content %}
	<div class='panel-body'>
		<div class='avatar'>
			<img src='/upload/{{ user_avatar }}' class='img-responsive img-circle center-block userShow' alt='avatar' >
		</div>
		<h1 class='text-center usernameShow'>{{ user_content.user_name }}</h3>
			<br>

		<br>
		<p class='userBody'>{{ user_content.body }}</p>
		{% if user_media %}
		<div class='socialLinks'>
			<a href='http://weibo.com/{{ user_media.weibo }}' class='socialLink'><i class='fa icon-weibo'>微博</i></a>
			<a href='http://douban.com/people/{{ user_media.douban }}' class='socialLink'><i class='fa icon-weibo'>豆瓣</i></a>
			<p class='socialLink'><i class='fa icon-weixin'>微信</i></p>
		</div>
		{% endif %}		

	</div>
	{% else %}
	<div class='panel-body'>
		<h3 class=text-center>{{ username }}</h3>
		<p class=text-center>{{ username }}好像比较害羞，还没有自我介绍</p>
	</div>
	{% endif %}
	</div>
</div>
</div>
	<br>

{% endblock %}