{% extends 'layout.html' %}
{% block content %}
<head>
	<title>Me-User</title>
</head>

<div class='container myContent'>
	<div class='row'>
		<div class='panel panel-primary myPanel'>
	{% if user_content %}
	<div class='panel-body'>
		<h3 class='text-center'>{{ user_content.user_name }}</h3>
		<p class='userBody'>{{ user_content.body }}</p>
		<br>
		{% if user_media %}
		<span class='label label-default'><a href='http://weibo.com/{{ user_media.weibo }}'>微博</a></span>
		<span class='label label-default'>{{ user_media.weixin }}</span>
		<span class='label label-default'><a href='http://douban.com/people/{{ user_media.douban }}'>豆瓣</a></span>
		{% endif %}
	</div>
	{% else %}
	<div class='panel-body'>
		<h3 class=text-center>{{ username }}</h3>
		<p class=text-center>{{ username }}好像比较害羞，还没有自我介绍</p>
	</div>
	{% endif %}
	</div>
</div>
</div>
	<br>

{% endblock %}